<h1>You address is at (<%= @geocoder.lat %>, <%= @geocoder.lng %>)</h1>

<!-- Bonus: Include a Google map centered on these coordinates -->
<!-- Use https://developers.google.com/maps/documentation/javascript/tutorial for help -->
