<h1>Enter an image url of someone's face</h1>
<form action="/auth_api/face_detection_process">
  <label for="image">Image URL:</label><br>
  <input name="image" id="image"><br>
  <input type="submit">
</form>
