<h1>Enter link to an article</h1>
<form action="/auth_api/sentiment_analysis_process">
  <label for="link">Article URL:</label><br>
  <input name="link" id="link"><br>
  <input type="submit">
</form>
